<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<a href="img/vencanice/img01.jpg" data-lightbox="gallery" data-title="Napredak 037"><img src="img/vencanice/img01sm.jpg" class=" img-thumbnail" alt="Tailors Secrets"></a>
</div>
<div class="col-xs-3 col-xs-3 col-md-3 col-lg-3">
	<a href="img/vencanice/img02.jpg" data-lightbox="gallery" data-title="Napredak 037"><img src="img/vencanice/img02sm.jpg" class=" img-thumbnail" alt="Tailors Secrets"></a>
</div>
<div class="col-xs-3 col-xs-3 col-md-3 col-lg-3">
	<a href="img/vencanice/img03.jpg" data-lightbox="gallery" data-title="Napredak 037"><img src="img/vencanice/img03sm.jpg" class=" img-thumbnail"  alt="Tailors Secrets"></a>
</div> 
<div class="col-xs-3 col-xs-3 col-md-3 col-lg-3">
	<a href="img/vencanice/img04.jpg" data-lightbox="gallery" data-title="Napredak 037"><img src="img/vencanice/img04sm.jpg" class=" img-thumbnail" alt="Tailors Secrets"></a>
</div> 
<div class="col-xs-3 col-xs-3 col-md-3 col-lg-3">
	<a href="img/vencanice/img05.jpg" data-lightbox="gallery" data-title="Napredak 037"><img src="img/vencanice/img05sm.jpg" class=" img-thumbnail" alt="Tailors Secrets"></a>
</div>
<div class="col-xs-3 col-xs-3 col-md-3 col-lg-3">
	<a href="img/vencanice/img06.jpg" data-lightbox="gallery" data-title="Napredak 037"><img src="img/vencanice/img06sm.jpg" class=" img-thumbnail" alt="Tailors Secrets"></a>
</div>
<div class="col-xs-3 col-xs-3 col-md-3 col-lg-3">
	<a href="img/vencanice/img07.jpg" data-lightbox="gallery" data-title="Napredak 037"><img src="img/vencanice/img07sm.jpg" class=" img-thumbnail" alt="Tailors Secrets"></a>
</div>
<div class="col-xs-3 col-xs-3 col-md-3 col-lg-3">
	<a href="img/vencanice/img08.jpg" data-lightbox="gallery" data-title="Napredak 037"><img src="img/vencanice/img08sm.jpg" class=" img-thumbnail" alt="Tailors Secrets"></a>
</div>
<div class="col-xs-3 col-xs-3 col-md-3 col-lg-3">
	<a href="img/vencanice/img09.jpg" data-lightbox="gallery" data-title="Napredak 037"><img src="img/vencanice/img09sm.jpg" class=" img-thumbnail" alt="Tailors Secrets"></a>
</div>
								
							